<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">
      <h1>Create post</h1>
        <div class="form-group has-error">
          <label>Image-url <span class="require">*</span></label>
          <input type="text" class="form-control" name="slug" [(ngModel)]="url"/>
          <span class="help-block">Field not entered!</span>
        </div>

        <div class="form-group">
          <label>Title <span class="require">*</span></label>
          <input type="text" class="form-control" name="title" [(ngModel)]="title"/>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea rows="5" class="form-control" name="description" [(ngModel)]="body"></textarea>
        </div>

        <div class="form-group">
          <p><span class="require">*</span> - required fields</p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="addPost()">
            Add post
          </button>
        </div>
      <h1>All Posts</h1>
      <table id="dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
             width="100%">
        <thead>
        <tr>
          <th class="th-sm">ID
          </th>
          <th class="th-sm">Title
          </th>
          <th class="th-sm">Published
          </th>
          <th class="th-sm">Edit
          </th>
        </tr>
        </thead>
        <tbody *ngFor="let item of allPosts$">
          <tr>
            <td class="text-holder">{{item.id}}</td>
            <td class="text-holder">{{item.title}}</td>
            <td class="button-holder"><button type="button" class="btn btn-primary" (click)="changeStatus(item.id)">{{item.published}}</button></td>
            <td class="button-holder"><button type="button" class="btn btn-primary" [routerLink]="['/edit',item.title]">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- /.row -->
  </div>
</div>
<!-- /.container -->
